/*html {*/
/*    overflow-y: hidden !important;*/
/*}*/

/*.v-sheet.v-card:not(.v-sheet--outlined) {*/
/*    box-shadow: none;*/
/*}*/

.v-sheet.v-card {
    border-radius: 1px !important;
    padding: 5%;
}



/* 路由样式 */
.router-link-active {
    text-decoration: none;
    color: black !important;
}

/* app-bar 背景颜色 */
.v-app-bar {
    background-color: white !important;
}
