/*html {*/
/*    overflow-y: hidden !important;*/
/*}*/

/*.v-sheet.v-card:not(.v-sheet--outlined) {*/
/*    box-shadow: none;*/
/*}*/

/* 路由样式 */
.router-link-active {
    text-decoration: none;
    color: black !important;
}

a {
    text-decoration: none;
    color: black !important;
}

/* app-bar 背景颜色 */
.v-app-bar {
    background-color: white !important;
}

ul {
    list-style: none;
    padding-left: 0 !important;
}
